{% set extends = 'admin.html.twig' %}
{% set icon = 'fa fa-envelope' %}

{% embed '@PositibeCore/Grid/show.html.twig' %}
    {% block actions %}
        {{ parent() }}
        {#<a href="{{ path('positibe_post_comment_create', {'postName': post.name}) }}"
           class="btn btn-sm btn-info"><i class="fa fa-comment"></i> {{ 'post_comment.list.create_new' | trans }}</a>#}
    {% endblock %}
    {% block content_body %}
        <div class="row">
            <div class="col-8">
                <p><strong>{{ 'mail.table.subject' | trans }}
                        :</strong> {{ (mail.subjectHtml | default(mail.subject)) | raw }}</p>

                <p><strong>{{ 'mail.table.swiftMailerMessage' | trans }}:</strong> {{ mail.swiftMailerMessage }}</p>

                <p><strong>{{ 'mail.table.fromName' | trans }}:</strong> {{ mail.fromName }}</p>

                <p><strong>{{ 'mail.table.responseTo' | trans }}:</strong> {{ mail.responseTo }}</p>

                <p><strong>{{ 'mail.table.receivers' | trans }}:</strong> {{ mail.receivers | join(', ') }}</p>

                <p class="grey lighten-4 p-1">{{ (mail.bodyHtml | default(mail.body)) | raw }}</p>

            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">{{ 'mail.show.state' | trans }}</h4>

                        <div class="card-text">
                            <p><strong>{{ 'mail.table.state' | trans }}:</strong> {{ mail.state }}</p>

                            <p><strong>{{ 'mail.table.createdAt' | trans }}
                                    :</strong> {{ mail.createdAt|localizeddate('long', 'none') }}</p>

                            <p><strong>{{ 'mail.table.sendAt' | trans }}
                                    :</strong> {{ mail.sendAt|localizeddate('long', 'none') }}</p>

                            <p><strong>{{ 'mail.table.sentAt' | trans }}
                                    :</strong> {{ mail.sentAt|localizeddate('long', 'none') }}</p>

                            {% if mail.messageError %}
                                <p><strong>{{ 'mail.table.messageError' | trans }}</strong>: {{ mail.messageError }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-block">
                        <h4 class="card-title">{{ 'mail.show.configuration' | trans }}</h4>

                        <div class="card-text">


                            <h4>{{ 'mail.table.variables' | trans }}:</h4>

                            <table class="table">
                                {% for variable, value in mail.variables %}
                                    <tr>
                                        <td>
                                            {{ variable ~ ": " ~ (value | default('~')) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-block">
                        <h4 class="card-title">{{ 'mail.show.statistics' | trans }}</h4>

                        <div class="card-text">
                            <h4>{{ 'mail.table.tracking' | trans }}</h4>

                            <p>{{ mail.tracking }}</p>
                            <h4>{{ 'mail.table.failures' | trans }}</h4>

                            <p>{{ mail.failures }}</p>
                            <h4>{{ 'mail.table.token' | trans }}</h4>

                            <p>{{ mail.token }}</p>
                            <table class="table">
                                <tr>
                                    <td>{{ 'mail.table.sentCount' | trans }}</td>
                                    <td>{{ mail.sentCount }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'mail.table.failuresCount' | trans }}</td>
                                    <td>{{ mail.failuresCount }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'mail.table.receivedCount' | trans }}</td>
                                    <td>{{ mail.receivedCount }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'mail.table.openedCount' | trans }}</td>
                                    <td>{{ mail.openedCount }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'mail.table.repliedCount' | trans }}</td>
                                    <td>{{ mail.repliedCount }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'mail.table.clicksCount' | trans }}</td>
                                    <td>{{ mail.clicksCount }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'mail.table.bouncedCount' | trans }}</td>
                                    <td>{{ mail.bouncedCount }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
{% endembed -%}
